@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --dark-color: #0f1922;
  --light-color: #fffafa;
  --primary-color: #059b99;
  --secondary-color: #fcc602;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
  overflow: hidden visible;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-color);
}

a .light-theme {
  color: var(--dark-color);
}

.page {
  font-family: "Assistant", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.hebrew {
  display: none;
  font-family: "Assistant", sans-serif;
}
