.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  top: 0;
  background: var(--light-color)
}

.logo {
  width: 150px;
  height: 80px;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  object-fit: contain;
  z-index: 4;
}

.header__links {
  font-weight: 300;
  display: flex;
  gap: 18px;
  z-index: 0;
}

.header_airbnb-btn {
  display: none;
}

/* .btn_active {
  text-decoration: underline;
} */

@media screen and (max-width: 768px) {
  .logo {
    display: none;
    /* background-image: url(../../images/little-logo.png);
    height: 40px;
    width: 80px; */
  }
  .header {
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    background: var(--light-color)
  }
}
