.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
  height: 80px;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  object-fit: contain;
  z-index: 4;
}

.header__links {
  font-weight: 300;
  display: flex;
  gap: 18px;
  z-index: 0;
}

/* .btn_active {
  text-decoration: underline;
} */

@media screen and (max-width: 768px) {
  .logo {
    background-image: url(../../images/little-logo.png);
    height: 40px;
  }
}
