.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  top: 0;
  background: var(--light-color);
}

.logo {
  width: 150px;
  height: 80px;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  object-fit: contain;
  z-index: 4;
}

.lang-btn {
  border-radius: 10px;
  padding: 5px 8px;
  color: var(--dark-color);
  background-color: var(--light-color);
  border: none;
  cursor: pointer;
}

.header_airbnb-btn {
  display: none;
}

.btn_active {
  background-color: #27cecc50;
  border: 0.7px solid #27cecc50;
  cursor:auto;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .header {
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    background: var(--light-color);
  }
}
